{% extends 'base.html' %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock title %}
{% block content %}
<main>
  <!-- Squareライブラリを最初にロード -->
  <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js" nonce="{{ csp_nonce }}"></script>
  <!-- 本文 -->
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="{% url 'top_page' %}">ホーム</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">有料プラン登録</li>
          </ol>
        </nav>

        <h1 class="mb-3 text-center">有料プラン登録</h1>
        <div class="card mb-4">
          <div class="card-header text-center">
            有料プランの内容
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">・当日の2時間前までならいつでも予約可能</li>
            <li class="list-group-item">・店舗をお好きなだけお気に入りに追加可能</li>
            <li class="list-group-item">・レビューを全件閲覧可能</li>
            <li class="list-group-item">・レビューを投稿可能</li>
            <li class="list-group-item">・月額たったの300円</li>
          </ul>
        </div>
        <hr class="mb-4">

        <div class="alert alert-danger card-error" id="card-error" role="alert">
          <ul class="mb-0" id="error-list"></ul>
        </div>

        <!-- Squareクレジットカード登録フォーム -->
        <form id="payment-form" method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          <!-- カード名義人フォーム -->
          <input class="card-holder-name mb-3" id="cardholder-name" type="text" placeholder="カード名義人" required>
          <!-- Square支払いフォーム -->
          <div id="card-container"></div>
          <!--エラー発生時はエラーメッセージをJSONで出力 -->
          <p id="errorMessage" class="text-danger" style="display: none;"></p>
          <!-- 登録ボタン -->
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary text-white shadow-sm w-50" id="card-button" type="button">登録</button>
          </div>
        </form>
        <!-- Squareクレジットカード登録フォームここまで -->

      </div>
    </div>
  </div>
</main>

<!-- Squareクレジットカード登録JavaScript -->
<script nonce="{{ csp_nonce }}">
  const applicationId = "{{ square_application_id }}";
  const locationId = "{{ square_location_id }}";

  // ID名card-containerの要素に専用フォームを作成し、入力された情報を暗号化して「card」定数に格納
  async function initializeCard() {
    const payments = Square.payments(applicationId, locationId);
    const card = await payments.card();
    await card.attach('#card-container');
    return card;
  }

  // 「card」定数に格納されたカード情報を元に、views.pyの「SubscribeRegisterView」クラスにfetchAPIによるAjax送信
  async function handlePaymentMethodSubmission(event, card) {
    event.preventDefault();
    // カード名義人を取得
    const cardholderName = document.getElementById('cardholder-name').value;
    // カード情報をトークン化
    const tokenResult = await card.tokenize({
      cardholderName: cardholderName,
    });
    if (tokenResult.status !== "OK") {
      console.error(tokenResult.errors);
      return;
    }

    // views.pyの「SubscribeRegisterView」クラスにfetchAPIによるAjax送信
    try {
      const response = await fetch("{% url 'subscribe_register' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          nonce: tokenResult.token, // カード情報(暗号化済み)
          idempotency_key: String(Date.now()) // 一意のキー
        }),
      });

      if (response.ok) {
        alert("有料プランに登録しました");
      } else {
        // サーバー側のエラーレスポンスを取得
        const result = await response.json();

        // エラーメッセージを表示
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = result.error_message;
        errorMessageElement.style.display = 'block';
      }
    } catch (error) {
      alert(`
        有料プラン登録に失敗しました。管理者にお問い合わせをお願いいたします。
        Error: ${error.message}
      `);
    }
  }

  // それぞれの関数の実行
  (async () => {
    const card = await initializeCard();
    const cardButton = document.getElementById("card-button");
    cardButton.addEventListener("click", (event) => handlePaymentMethodSubmission(event, card));
  })();
</script>
<!-- Squareクレジットカード登録JavaScriptここまで -->
{% endblock content %}